<section id="page-title">
    <div class="container clearfix">
        <div class="row">
            <div class="col-lg-4">
                <h1>Invoices</h1>
            </div>
            <div class="col-lg-8">
              <a ui-sref="invoice_add">Add</a>
            </div>
        </div>



    </div>
</section>


<section id="content" ng-init="invoices()">

    <div class="content-wrap">

        <div class="container clearfix">




            <div class="row padding_bottom_10">
                <div class="col-lg-2"><b>CustomerId</b></div>
                <div class="col-lg-2"><b>Discount</b></div>
                <div class="col-lg-2"><b>Total</b></div>
            </div>

            <div class="row padding_bottom_10" ng-repeat="invoice in invoices">
                <div class="col-lg-2">{{invoice.customer_id}}</div>
                <div class="col-lg-2">{{invoice.discount}}</div>
                <div class="col-lg-2">{{invoice.total}}</div>
            </div>

            <div ng-show="reviews.length==0">
                No invoice yet
            </div>

            <div class="clear"></div>

        </div>
        <!-- .postcontent end -->

    </div>



</section>
