<section id="page-title">
    <div class="container clearfix" ng-init="getCustomers()">
        <h1>Add Voice</h1>
    </div>
</section>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="row padding_bottom_10">
                <div class="col-lg-4">
                    <label for="template-invoice">Customer <small>*</small></label>
                    <select id="template-invoice" name="invoice" ng-model="invoice.customerId" ng-change="generateInvoice();">
                        <option value="{{customer.id}}" ng-repeat="customer in customers">{{customer.name}}</option>
                    </select>



                </div>
            </div>

            <div class="row padding_bottom_10">
                <div class="col-lg-4">
                    <label for="template-invoice">Discount <small>*</small></label>
                    <input type="number" ng-model="invoice.discount" ng-change="calculateTotal()" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="clear"></div>

            <div class="table-responsive col-lg-8 ">
                <div class="row">
                    <span class=""><a href="javascript:void(0);" ng-click="addVoiceItem()">Add Voice Item</a></span>
                    <table class="table table-bordered table-hover" ng-hide="invoice.invoicesItems.length==0">
                        <thead>
                            <tr>
                                <th>Product
                                </th>
                                <th>Price
                                </th>
                                <th>Quantity
                                </th>
                                <th>Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="invoiceItem in invoice.invoicesItems">
                                <td>
                                    <select ng-change="getPrice(invoiceItem.productId,invoiceItem);" ng-model="invoiceItem.productId">
                                        <option>--Select-- {{invoiceItem.id}}</option>
                                        <option value="{{product.id}}" ng-repeat="product in products">{{product.name}}</option>
                                    </select>
                                </td>
                                <td>{{invoiceItem.price}}
                                </td>
                                <td>
                                    <input type="text" ng-model="invoiceItem.quantity" ng-change="changeQuantity(invoiceItem)" />
                                </td>
                                <td>{{invoiceItem.price*invoiceItem.quantity}}
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td style="color: green; font-weight: 600">Total Amount
                                </td>
                                <td style="color: green; font-weight: 600">{{invoice.total | number : 2}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td style="color: blue; font-weight: 600">Discount
                                </td>
                                <td style="color: blue; font-weight: 600">{{invoice.discount}}%
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td style="color: red; font-weight: 600">Net Amount
                                </td>
                                <td style="color: red; font-weight: 600">{{invoice.netAmount | number : 2}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row" ng-show="invoicesItems.length==0">
                    No voice item added yet
                </div>


            </div>

        </div>
        <!-- .postcontent end -->

    </div>



</section>
