<!--<nav class="navbar">
    <div id="navbar" style="float:right;">
        <ul class="nav navbar-nav">
            <li><a ui-sref='register'>Logout</a></li>
        </ul>
    </div>
</nav>-->


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="posts">Home</a></li>
            <li><a ui-sref='addPost'>Add Task</a></li>
            <li ng-click="logout()"><a href="javascript:void(0);">Logout</a></li>
        </ul>
    </div>
</nav>

 